.row
	.col-sm-3
		.panel.center
			.panel-body
				- if current_user.reviews.count > 0
					%h1.font-thin{style: "margin:0;"}
						= current_user.points
					%span.text-muted 
						You've earned 
						%span.bold 
							= current_user.points
						points
				- else
					%h1.font-thin{style: "margin:0;"}
						0
%h3 Leaderboards
%table.table.table-leaderboards
	%thead
		%tr
			%td 
			%td Name
			%td Points
	%tbody.bold
		- @users.each_with_index do |user, index|
			%tr
				%td.leaderboard-rank
					= index + 1
				%td.leaderboard-avatar
					%span
						= image_tag(user.profile_image.url(:thumb), class: "avatar thumb-sm")
					= link_to user.full_name, profile_path(user.username)
				%td.leaderboard-points
					= user.points
