%div{:style => "background: #0A3E5B"}
	.wrapper-lg
		.row
			.col-xs-2
				%a.thumb-lg.pull-left.m-r{:href => "#"} 
				= image_tag(@user.profile_image.url(:thumb), class: "img-circle img-responsive")
			.col-xs-8.profile-text
				%h2= "#{@user.full_name}"
				- if current_user.location
					%h4= Country.where(id: @user.location).first.name
				%h4= "Current Badge:" 
				- if @user.badges.count > 0
					= image_tag(@user.badges.last.custom_fields[:img_url])
				- else
					You have no badges earned
				- if current_user.reviews_count > 0
					%p Points Earned: #{@user.leaderboard_points}
				%p= @user.description
			.col-xs-2
				= link_to "Send Message", 
					{action: :create, controller: :conversations, sender_id: current_user.id, recipient_id: @user.id}, method: :post, class: "btn btn-success btn-block"
.list-group-item
	%h3.profile-header Progress to Next Badge
	.progress
		.progress-bar.progress-bar-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 45%"}
			%span.sr-only 45% Complete
.badges
	.list-group-item
		- if @user.badges.count > 0
			%h3.list-group-item-heading.profile-header Badges Earned
			.row
				- @user.badges.each do |badge|
					.col-xs-3
						%h3.list-group-item-heading= badge.name
						= image_tag(badge.custom_fields[:img_url])
		- else
			You have not earned any badges


















