.row
	.col-md-9
		.row
			.col-md-4
				#current-badge
					.panel.panel-default
						.panel-heading
							Current Badge
						.panel-body.text-center
							= image_tag('mvp.png', class: "img-responsive")
			.col-md-4
				.panel.panel-default#next-badge
					.panel-heading
						Next badge
					.panel-body.text-center
						.inline
							= render 'pie_chart'
			.col-md-4
				.panel.panel-default#earnings-to-date
					.panel-heading
						Games Completed
					.panel-body.text-center
						.text-primary-dk.font-thin.h1
							%span= current_user.reviews_count
		= render 'game_history_chart'
	= render 'leaderboard'















