%header#header.app-header.navbar{:role => "menu"}
  .collapse.pos-rlt.navbar-collapse.bg-white
    .nav.navbar-nav.hidden-xs
      = link_to root_path, class: "navbar-brand text-lt" do
        = image_tag('krossover_logo.png', class: "img-responsive")
    = form_tag search_profiles_path, class: "navbar-form navbar-left for-search" do
      .form-group.header-search
        %input.form-control(name="search_term" type="text" placeholder="Search for other users here")
      %button.btn.btn-default(type="submit") Search
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown
          %a.dropdown-toggle.clear{"data-toggle" => "dropdown", :href => "#"}
            = current_user.full_name
            %i.i.i-arrow-down5
          / dropdown
          %ul.dropdown-menu.animated.fadeInRight.w
            %li
              = link_to "Edit Profile", edit_path
            %li.divider
            %li
              = link_to "Logout", logout_path
          / / dropdown
      - else
        %li= link_to "Login", login_path
        %li= link_to "Register", register_path
