<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/aside' %>
    <div id="content" class="app-content" role="main">
      <div class="app-content-body ">
        <div class="hbox hbox-auto-xs hbox-auto-sm">
          <div class="col">
            <%= render 'layouts/header' %>
            <ul>
            <% if current_user %>
            <% current_user.badges.each do |badge| %>
              <li><%= badge.name %></li>
            <% end %>
            <% end %>
            </ul>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>