!!!
%html{style: "background: #f5f5f5"}
  = render 'layouts/head'
  %body
    .app.app-header-fixed
      = render 'layouts/flash'
      = render 'layouts/header'
      = render 'layouts/aside'
      #content.app-content{:role => "main"}
        .app-content-body
          .hbox.hbox-auto-xs.hbox-auto-sm
            .col
              .wrapper-lg
                = yield
      = render 'layouts/footer'
