!!!
%html
  = render 'layouts/head'
  %body.conversations
    .app.app-header-fixed
      = render 'layouts/flash'
      = render 'layouts/header'
      = render 'layouts/aside'
      #content.app-content.h-full{:role => "main"}
        .app-content-body.h-full
          .hbox.hbox-auto-xs.hbox-auto-sm
            .col
              .vbox
                = yield
      = render 'layouts/footer'
