!!!
%html{style: "background: #f5f5f5"}
  = render 'layouts/head'
  %body
    .app.app-header-fixed
      = render 'layouts/flash'
      = render 'layouts/header'
      = render 'layouts/aside'
      #content.app-content{:role => "main"}
        = yield
      = render 'layouts/footer'
